.tile {
  border-width: 1px;
  border-color: darkslategray;
  border-style: solid;
  border-radius: 6px;

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
